*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, p, fieldset, legend, input {
  margin: 0;
}

ul, li, fieldset {
  padding: 0;
}

body {
  background-color: #F5F7FB;
  font-family: Karla, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 4.688em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > h1 {
  font-size: 1.953rem;
  font-weight: 700;
  color: #293264;
}

main > p {
  font-size: 1rem;
  color: #293264;
  font-family: Inter, sans-serif;
  margin-top: 0.431em;
  margin-bottom: 1.785em;
}

button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 1em;
  width: 12.063em;
  height: 3.25em;
  cursor: pointer;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  gap: 0.914em;
}

section {
  border-bottom: 0.049em solid #DBDEF0;
}

fieldset {
  border: none;
}

legend {
  font-size: 1rem;
  color: #293264;
}

input {
  display: none;
}

ul {
  display: flex;
  justify-content: start;
  gap: 0.794em;
  list-style: none;
}

li {
  text-align: center;
  border: 0.077em solid #4D5B9E;
  border-radius: 0.771em;
  font-size: 0.615rem;
  font-weight: 500;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

li.checked {
  background-color: #D6DBF5;
}


.question-text {
  font-size: 1rem;
  font-weight: 700;
  color: #293264;
}